{% extends "notepad/notepad_base.html" %}
{% block tab_content %}

{{ form.errors }}
<form accept-charset="UTF-8" action="create_report" class="form-vertical" method="post">
 	<legend>Create new report</legend>
   	<fieldset>
		{% csrf_token %}
   		<div class="control-group">
			<label class="control-label" for="id_title">Title:</label>
         	<div class="controls">
           		<input id="id_title" class="span12" name="title" type="text"/>
         	</div>
   		</div>

   		<div class="control-group">
        	<label class="control-label" for="id_code">Content:</label>
         	<div class="controls">
           		<textarea id="id_code" class="span12"  rows="24" name="code"></textarea>
         	</div>
   		</div>

   		<script type="text/javascript">
   			$("#id_title").focus();
   		</script>

		<div class="control-group">
			<div class="controls">
		      	<button type="submit" class="btn">Create</button>
		    </div>
  		</div>			     		
   	</fieldset>
</form>    

{% endblock %}

