{% extends "notepad/notepad_base.html" %}

{% block tab_content %}

	<table class="table table-bordered table-striped">
		<tr>
			<th>#</th>
			<th>Date</th>
			<th>Sessions</th>
			<th>Events</th>
			<th>Notes</th>
			<th>Actions</th>
		</tr>
		{% for stat in stats %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{stat.day}}</td>
				<td>{{stat.session_count}}</td>
				<td>{{stat.event_count}}</td>
				<td>{{stat.notes|linebreaks}}
				<div style='display:none' id="text_{{forloop.counter}}">{{stat.notes}}</div>
				</td>
				<td><button type="button" onClick='showEditor("{{stat.id}}","text_{{forloop.counter}}")'>Edit</button></td>
			</tr>
		{% endfor %}
	</table>

	<div id="editModal" class="modal hide fade">
		<form class="modal-form" action="edit_note" method="post">
			<div class="modal-header">Notes</div>
			<div class="modal-body">
				{% csrf_token %}
				<textarea id="noteText" name="noteText" class="input-block-level" rows="10"></textarea>
				<input id='noteID' name="noteID" type="hidden"/>
			</div>
			<div class="modal-footer">
	   			<button type="submit" class="btn" data-dismiss="modal">Cancel</button>
	   			<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>
	</div>

<script type="text/javascript">
	function showEditor(id, textId){
		$('#editModal').modal();
		$("#noteID").val(id);
		$("#noteText").val($("#"+textId).html());
		$("#noteText").focus();
	}
</script>


{% endblock %}

