{% extends "base.html" %}

{% block content %}

<h1>Notepads</h1>

<div class="btn-group navbar">
    <a class="btn btn-primary" href="create">Create new notepad</a>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>ID</th>
		<th>Created at</th>
		<th>Description</th>
	</tr>
	{% for notepad in notepads %}
	<tr>	
		<td><a href="/notepad/{{notepad.id}}/recent">{{notepad.title}}</a></td>
		<td>{{notepad.uuid}}</td>
		<td>{{notepad.created_at}}</td>
		<td>{{notepad.description}}</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}

