{% extends "base.html" %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/notepad">Notepads</a> <span class="divider">/</span></li>
    <li class="active">{{notepad.title}}</li>
</ul>

<div class="row-fluid">
	<div class="tabbable tabs-left">
    	<ul class="nav nav-tabs">
    		{% if active_tab == 'stats' %}
    			<li class="active"><a href="#"><b>Daily stats</b></a></li>
    		{% else %}
    			<li><a href="/notepad/{{notepad.id}}/stats">Daily stats</a></li>
    		{% endif%}
    		{% if active_tab == 'recent' %}
    			<li class="active"><a href="#"><b>Recent events</b></a></li>
    		{% else %}
    			<li><a href="/notepad/{{notepad.id}}/recent">Recent events</a></li>
    		{% endif%}
    		{% if active_tab == 'files' %}
    			<li class="active"><a href="#"><b>Files</b></a></li>
    		{% else %}
    			<li><a href="/notepad/{{notepad.id}}/files">Files</a></li>
    		{% endif%}
    		{% if active_tab == 'settings' %}
    			<li class="active"><a href="#"><b>Settings</b></a></li>
    		{% else %}
    			<li><a href="/notepad/{{notepad.id}}/settings">Settings</a></li>
    		{% endif%}
	    </ul>
	    <div  class="tab-content">
	    	{% block tab_content %}
	    	{% endblock %}
		</div>
	</div>
</div>        

{% endblock %}

