{% extends "notepad/notepad_base.html" %}

{% block tab_content %}
	{% for session_name, events in sessions.items %}
		<h3>Session: {{session_name}}</h3>
		<table class="table table-bordered table-striped">
			<tr>
				<th>#</th>
				<th>Created</th>
				<th>Event</th>
				<th>Module</th>
				<th>Property</th>
			</tr>
			{% for event in events %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{event.time|timesince}} ago.</td>
					<td>{{event.event}}</td>
					<td>{{event.module}}</td>
					<td>{{event.property}}</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}

{% endblock %}

