{% extends "base.html" %}

{% block content %}

<h1>Create new project</h1>

{{ form.errors }}
<form accept-charset="UTF-8" action="create" class="form-vertical" method="post">
 	<legend>
 	</legend>
   	<fieldset>
		{% csrf_token %}
   		<div class="control-group">
			<label class="control-label" for="id_title">Title:</label>
         	<div class="controls">
           		<input id="id_title" class="span12" name="title" type="text"/>
         	</div>
   		</div>

   		<div class="control-group">
        	<label class="control-label" for="id_url">Content URL:</label>
         	<div class="controls">
           		<input id="id_url" class="span12" name="url" type="text"/>
         	</div>
   		</div>

   		<div class="control-group">
        	<label class="control-label" for="id_info">Description:</label>
         	<div class="controls">
           		<textarea id="id_info" class="span12" name="info"></textarea>
         	</div>
   		</div>

   		<script type="text/javascript">
   			$("#id_title").focus();
   		</script>

		<div class="control-group">
			<div class="controls">
		      	<button type="submit" class="btn">Create</button>
		    </div>
  		</div>			     		
   	</fieldset>
</form>    

{% endblock %}

