{% extends "base.html" %}

{% block content %}

<h1>Available demos</h1>

<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<tr>
		<td>Design experiment</td>
		<td><a href="histogram">Check where to improve your website</a></td>
	</tr>
	<tr>
		<td>Measure</td>
		<td><a href="abtest">Run A/B tests</a></td>
	</tr>
	<tr>
		<td>Learn</td>
		<td><a href="abtest">Check the results from the experiment</a></td>
	</tr>
</table> 

<h2>Website improvement process</h2>
<ul>
	<li>Ideas</li>
	<li>Design experiment</li>
	<li>New code</li>
	<li>Measure</li>
	<li>Experiment data</li>
	<li>Learn</li>
</ul>       

{% endblock %}

